public net.minecraft.client.gui.Gui f_92976_ # healthUpdateCounter

public-f net.minecraft.world.entity.Entity f_19804_ # dataManager

public net.minecraft.server.level.ServerLevel f_8550_ # allPlayersSleeping

public net.minecraft.world.entity.LivingEntity m_21262_(Lnet/minecraft/world/damagesource/DamageSource;)Z # checkTotemDeathProtection
public net.minecraft.world.entity.LivingEntity f_20961_ # HEALTH

public net.minecraft.world.entity.player.Player f_36107_ # ABSORPTION

public net.minecraft.network.syncher.SynchedEntityData m_135375_(Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;)V # setEntryValue
public net.minecraft.network.syncher.SynchedEntityData m_135379_(Lnet/minecraft/network/syncher/EntityDataAccessor;)Lnet/minecraft/network/syncher/SynchedEntityData$DataItem; # getEntry

public net.minecraft.world.item.enchantment.EnchantmentHelper m_44850_(Lnet/minecraft/world/item/enchantment/EnchantmentHelper$EnchantmentVisitor;Lnet/minecraft/world/item/ItemStack;)V # runIterationOnItem
public net.minecraft.world.item.enchantment.EnchantmentHelper$EnchantmentVisitor

# For FirstaidIngameGui
public net.minecraft.client.gui.Gui f_92989_ #tickCount
public net.minecraft.client.gui.Gui f_92973_ #lastHealth
public net.minecraft.client.gui.Gui f_92975_ #lastHealthTime
public net.minecraft.client.gui.Gui f_92974_ #displayHealth
public net.minecraft.client.gui.Gui f_92985_ #random